:root {
    --border-100: #e1e3e540;
    --border-200: #e1e3e51f;
    --surface-100: #292a2d;
    --surface-200: #292a2df2;
    --text-100: #e1e3e5;
    --text-200: #e1e3e5c6;
    --theme-100: #76c7cd;
    --theme-200: #76c7cd19;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    background: var(--surface-100);
    color: var(--text-100);
    min-inline-size: 100%;
    min-block-size: 100%;
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    display: block;
    -webkit-user-drag: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--surface-100);
    z-index: 5;
    pointer-events: none;
    cursor: default;
    display: none;
}

aside.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    block-size: 100%;
    inline-size: 100%;
}

aside img {
    display: block;
    margin-bottom: 2rem;
}

aside .dots {
    display: flex;
    width: 2rem;
    aspect-ratio: 1;
    --bg: no-repeat radial-gradient(farthest-side, #767c81 94%, #0000);
    background: var(--bg) 0 0, var(--bg) 100% 0, var(--bg) 100% 100%, var(--bg) 0 100%;
    background-size: 40% 40%;
    animation: loading .6s infinite;
}

@keyframes loading {
    100% {
        background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    }
}

main {
    position: relative;
    inline-size: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem;
}

header a {
    display: flex;
    align-items: center;
    justify-content: center;
}

header a img {
    object-fit: cover;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    min-inline-size: 100%;
    background: var(--surface-200);
    border-bottom: 1px solid var(--border-100);
    z-index: 2;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    overflow-x: scroll;
    max-inline-size: 850px;
    inline-size: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding: 0 .25rem;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: .1275rem;
    width: 100%;
    border-radius: .1275rem .1275rem 0 0;
    background: transparent;
}

nav ul li.active::after {
    background: var(--theme-100);
}

nav ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-100);
    font-family: 'Figtree', sans-serif;
    font-size: .925rem;
    letter-spacing: .02em;
    padding: .75rem .25rem;
    border-radius: .25rem .25rem 0 0;
}

nav ul li.active a {
    color: var(--theme-100);
}

section {
    inline-size: 100%;
    min-block-size: 100%;
}

article {
    max-inline-size: 850px;
    inline-size: 100%;
    position: relative;
    padding: 0 .325rem;
    margin: 0 auto 1.5rem;
}

article h2 {
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: .02em;
    padding: .75rem 0;
}

article > h3 {
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: .03em;
    color: var(--text-200);
    margin-bottom: .75rem;
}

article ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--border-100);
}

article:last-of-type ul {
    border-bottom: 0;
}

article ul li {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    gap: .325rem;
    cursor: pointer;
}

article ul li .item-image {
    display: flex;
    aspect-ratio: 16 / 10;
    background: var(--border-200);
    border-radius: .5rem;
}

article ul li .item-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

article ul li .item-details {
    display: flex;
    flex-direction: column;
    padding: .125rem;
}

article ul li .item-details h3 {
    font-size: 1.1275rem;
    font-weight: 450;
    letter-spacing: .02em;
    margin-bottom: .25rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

article ul li .item-details h4 {
    font-weight: 500;
    letter-spacing: .03em;
}

article ul li .item-details p {
    font-size: .875rem;
    color: var(--text-200);
    letter-spacing: .015em;
    line-height: 1.3;
    margin-bottom: .25rem;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    border-top: 1px solid var(--border-100);
}

footer > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > a img {
    object-fit: cover;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

footer ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    border: 1px solid var(--border-100);
}

footer p {
    font-size: .75rem;
    font-weight: 400;
    color: var(--text-200);
    text-align: center;
}

dialog {
    position: fixed;
    top: 0;
    left: 0;
    inset-block-start: 0px;
    inset-inline-start: 0px;
    padding: 0 .25rem;
    box-sizing: border-box;
    block-size: 100%;
    max-block-size: none;
    inline-size: 100%;
    max-inline-size: none;
    margin: 0;
    border: none;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    background-color: transparent;
    transition: opacity 0s ease 0s;
    will-change: opacity;
    display: none;
}

dialog::backdrop {
    display: none;
}

dialog.expanded {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition-duration: .15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

dialog .dialog-scrim {
    position: fixed;
    inset: 0px;
    overflow-y: scroll;
    overscroll-behavior: contain;
    block-size: 100%;
    inline-size: 100%;
    pointer-events: inherit;
    visibility: visible;
    z-index: 3;
    background: rgba(0,0,0,0.7);
    -webkit-tap-highlight-color: transparent;
}

dialog .dialog-scrim::after {
    content: '';
    display: block;
    block-size: 200%;
    inline-size: 200%;
}

dialog .dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-block-size: 95%;
    max-inline-size: 600px;
    inline-size: 100%;
    border-radius: .5rem;
    flex-shrink: 1;
    transform: scale(1);
    transform-origin: center bottom;
    z-index: 3;
    background: var(--surface-100);
    will-change: display, transform;
}

dialog.expanded .dialog-container {
    animation-name: scaleUp;
    animation-duration: .15s;
}

dialog .dialog-container .dialog-header {
    display: flex;
    max-block-size: 100%;
    block-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-bottom: 60%;
    border-radius: .5rem .5rem 0 0;
}

dialog .dialog-container .dialog-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: .375rem;
    right: .375rem;
}

dialog .dialog-container .dialog-body {
    display: flex;
    flex-direction: column;
    block-size: fit-content;
    padding: .75rem;
    border-radius: 0 0 .5rem .5rem;
}

dialog .dialog-container .dialog-body h3 {
    font-size: 1.1875rem;
    font-weight: 500;
    color: var(--text-100);
    letter-spacing: .015em;
    margin-bottom: .325rem;
}

dialog .dialog-container .dialog-body h4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-100);
}

dialog .dialog-container .dialog-body h5 {
    font-size: .825rem;
    font-weight: 525;
    color: var(--text-200);
    opacity: .8;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-bottom: .25rem;
}

dialog .dialog-container .dialog-body p {
    font-size: .975rem;
    font-weight: 400;
    color: var(--text-200);
    line-height: 1.4;
    margin-bottom: .5rem;
}

@media screen and (min-width: 768px) {
    article ul li {
        flex: 0 1 calc(50% - .5rem);
    }

    article ul li .item-details h3 {
        font-size: 1.1875rem;
    }

    article ul li .item-details h4 {
        font-size: 1rem;
    }

    article ul li .item-details p {
        font-size: .975rem;
    }

    dialog .dialog-container .dialog-body {
        padding: 1rem;
    }
}

@keyframes scaleUp {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1);
    }
}